
.d-flex {
    display: flex !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-end {
    justify-content: end;
}
.text-justify {
    text-align: justify !important;
}

.btn-mine {
    background-color: #fff;
    color: #000;
}
.btn-mine:hover {
    background-color: #b60000;
    color: #fff;
}
.mt-1 {
    margin-top: 10px !important;
}

@media only screen and (max-width: 768px) {
    .color-change{
        background-color: #f9ca0b !important;
    }
  }
