
.d-flex {
    display: flex !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-end {
    justify-content: end;
}
.text-justify {
    text-align: justify !important;
}

.btn-mine {
    background-color: #fff;
    color: #000;
}
.btn-mine:hover {
    background-color: #b60000;
    color: #fff;
}
.mt-1 {
    margin-top: 10px !important;
}

.text-title{
    text-align: left;
}
@media only screen and (max-width: 768px) {
    .color-change{
        background-color: #f9ca0b !important;
    }
    
  }

  .social-icon:hover {
    transform: scale(1.2); /* Increase the size by 20% */
    transition: transform 0.3s ease; /* Add a smooth transition */
}


@media only screen and (min-width: 768px) {
    #st-2 {
        top: 200px !important;
    }
    
}


